/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
#divIn #txtUrl{
	width: 300px;
}
#divIn #txtWide, #divIn #txtHigh{
	width: 50px;
	text-align:right;
}
/**************************************/
/*       HEADDER/SIDE BAR             */
/**************************************/
#divLang ul li,#divMe ul li,#divApps ul li{
	display: inline;
	margin:0;
}

/**************************************/
/*               FOOTER               */
/**************************************/

/**************************************/
/*          media queries             */
/**************************************/
-- iPhone?
@media only screen and (max-width: 479px) {
    body { margin: 1.5em; }
    #header h1 { font-size: 200% }
    #content { font-size: 170%; line-height: 1.5em; }
    pre { overflow:auto; }
}